<!doctype html>
<html lang="en">


<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{{ config('app.name', 'Colony') }}</title>

    @include('partials.style')

</head>

<body>
    <div class="home-btn d-none d-sm-block">
        @if (Route::has('login'))
        <div class="hidden fixed top-0 right-0 px-6 py-4 sm:block">
            @auth
            <a href="{{ url('/dashboard') }}" class="">Dashboard</a>
            @else
            <a href="{{ route('login') }}" class=" mr-2">Log in</a>

            @if (Route::has('register'))
            <a href="{{ route('register') }}" class="ml-4 p-2 text-dark">Register</a>
            @endif
            
        </div>
        @endif
    </div>

    <section class="my-5 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-body"> 
                        <div class="p-2">
                            <div class="text-center">
                                <div class="avatar-md mx-auto">
                                    <div class="avatar-title rounded-circle bg-light">
                                        <img src="{{ asset('storage/'.application('image'))}}" alt="" width="150"
                                            class="auth-logo-dark mx-auto">
                                    </div>
                                </div>
                                <div class="p-2 mt-4">
                                    <h3 style="font-size: 30px; margin-top: 4px; font-weight: bold">{{ application('name')}}</h3>
                                    <p style="font-size: 10px; margin-top: 2px">{{ application('description') }}</p>

                                    <div class="mt-4">
                                        @if (Route::has('login'))
                                            <div class="auth-link links">
                                                @auth
                                                    <a href="{{ url('/dashboard') }}" class="btn btn-primary btn-rounded">Home</a>
                                                @else
                                                    <span class="btn btn-primary btn-rounded"><i class="bx bx-lock-open"></i></span>
                                                    <div class="btn-group">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                                            Choose login type <i class="mdi mdi-chevron-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                                                            <li><a class="dropdown-item" href="{{ route('login') }}">teacher</a></li>
                                                            <li><a class="dropdown-item" href="{{ route('student/login') }}">Student</a></li>
                                                        </ul>
                                                    </div>
                                                @endauth
                                            </div>
                                        @endif
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    @include('partials.script')

</body>

</html>